
<div class="row">
  <div class="col-md-4">
    <%= image_tag(@user.image_url, width: "250", height: "250") %>
    <p class="users-name"><%= @user.username %></p>
  </div>
  <div class="col-md-8">
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead>
<!--          <th class="col-md-1">#</th> -->
          <th class="col-md-4">
            my趣味
          </th>
          <th class="col-md-1"></th>
        </thead>
        <tbody>
          <% @user.user_hobbies.each do |uh| %>
          <tr>
<!--            <th scope="row"><%= uh.hobby.id %></th> -->
            <td><%= uh.hobby.name %></td>
            <td><%= button_to "削除", { controller: :user_hobbies, action: :destroy, id: uh.id }, class:'btn btn-default' %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead>
          <th class="col-md-1">#</th>
          <th class="col-md-4">
            my称号
          </th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>称号マスター</td>
          </tr>
          <tr>
            <th scope="row">2</th>
             <td>洗濯機プロ</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
