
<div class="row">
  <div class="col-md-4">
    <%= image_tag(@user.image_url, width: "250", height: "250") %>
    <p class="users-name"><%= @user.username %></p>
  </div>
  <div class="col-md-8">
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead>
          <th>
            my趣味
          </th>
        </thead>
        <tbody>
          <% @user.user_hobbies.each do |uh| %>
          <tr>
            <th>
              <%= uh.hobby.name %>
              <%= button_to "やめる", { controller: :user_hobbies, action: :destroy, id: uh.id }, class:'btn btn-default btn-xs col-md-1 col-md-offset-11' %>
            </th>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead>
          <th>
            my称号
          </th>
        </thead>
        <tbody>
          <% @user.user_titles.each do |ut| %>
          <tr>
            <td>
              <%= ut.title.name %>
              <%= button_to "辞退", { controller: :user_titles, action: :destroy, id: ut.id }, class:'btn btn-default btn-xs col-md-1 col-md-offset-11' %>
            </td>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
