<!DOCTYPE html>
<html>
  <head>
    <title>Create your hobby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>">
          <%= link_to 'HOME', root_path %>
        </li>
        <li class="<%= 'active' if current_page?(hobbies_path) %>">
          <%= link_to 'HOBBIES', hobbies_path %>
        </li>
        <li class="<%= 'active' if current_page?(titles_path) %>">
          <%= link_to 'TITLES', titles_path %>
        </li>
        <% if logged_in? %>
        <li class="<%= 'active' if current_page?(user_path) %>">
          <%= link_to 'MYPAGE', user_path %>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li>
          <%= link_to 'LOGOUT', logout_path %>
        </li>
        <% else %>
        <li>
          <%= link_to 'LOGIN(Twitter)', 'auth/twitter'%>
        </li>
        <% end %>
      </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
